:root {
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --blue-60: 0, 82, 255;
  --blue-70: 0, 75, 235;
  --gray-0: 255, 255, 255;
  --gray-5: 238, 240, 243;
  --gray-60: 91, 97, 110;
  --gray-100: 10, 11, 13;
  --green50: 18, 153, 97;
  --green60: 9, 133, 81;
  --red60: 207, 32, 47;
  --line: rgba(var(--gray-60), 0.2);
  --background: rgb(var(--gray-0));
  --background-alternate: rgb(var(--gray-5));
  --foreground-muted: rgb(var(--gray-60));
  --negative: rgb(var(--red60));
  --positive: rgb(var(--green60));
  --primary: rgb(var(--blue-60));
  --primary-foreground: rgb(var(--gray-0));
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16x;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma,
    sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.static-layout {
  width: 100%;
  overflow: hidden;
  max-width: 1142px;
  padding: var(--spacing-3) var(--spacing-7);
  margin: 0 auto;
  flex-shrink: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--background-alternate);
}

.backdrop {
  background: var(--primary);
}

.no-padding {
  padding: 0px;
}

.in-line {
  display: inline;
}

.flex-row-items-center {
  display: flex;
  align-items: center;
}

.flex-row-items-start {
  display: flex;
  align-items: start;
}

.flex-row-item-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-line:first-child {
  border-top: 1px solid var(--line);
}

.border-line {
  border-bottom: 1px solid var(--line);
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-left {
  text-align: left;
}
.p-16-left {
  padding-left: 16px;
}

.mb-3 {
  margin-bottom: var(--spacing-3);
}

.mr-2 {
  margin-right: var(--spacing-2);
}
.m-2 {
  margin-right: var(--spacing-2);
  margin-left: var(--spacing-2);
}

.ml-auto {
  margin-left: auto;
}

.w-full {
  width: 100%;
}

.w-4 {
  width: var(--spacing-4);
}
.btn {
  padding: 10px 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  line-height: 14px;
  background-color: var(--primary);
  border-radius: 4px;
  border: 1px solid var(--primary);
}

.btn.medium {
  padding: 12px 16px;
}

.btn:hover {
  background-color: rgb(10, 70, 228);
  border: 1px solid transparent;
  transition: background-color 0.25s ease 0;
}

/* Begining of header styling */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 67px;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
  background: #fff;
}

.main-nav-wrapper {
  display: flex;
  max-width: 1180px;
  align-items: stretch;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;
  min-height: 66px;
  color: rgb(5, 15, 25);
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  flex: 2 1 0%;
  padding-bottom: 3px;
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  box-sizing: border-box;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  flex: 6 1 0%;
  box-sizing: border-box;
}

.navlink-item {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 18px;
  line-height: 16px;
  border-bottom: 4px solid transparent;
}

.navlink-item:hover {
  border-bottom: 4px solid var(--primary);
}

.main-nav-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--spacing-2);
  flex: 2 1 0%;
  box-sizing: border-box;
}

.btn-label {
  padding: var(--spacing-2);
  opacity: 1;
  transition: color 0.15s ease-out;
}

.btn-label:hover {
  color: var(--primary);
  opacity: 0.8;
}

/* End of header styling */

/* Start of hero section styles */

.hero-contents {
  display: flex;
  align-items: center;
  color: rgb(var(--gray-100));
}

.left-section {
  flex: 2 1 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 111px;
}

.hero-pill {
  color: var(--primary);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hero-title {
  max-width: 425px;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-2);
}

.hero-subtitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: var(--spacing-4);
}

.form-cta-container {
  min-width: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-cta {
  display: flex;
  width: 100%;
}

.email-input-container {
  border: 1px solid var(--line);
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex: 1 1 auto;
}

.email-input-container input {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  color: rgb(var(--gray-100));
  border: 1px solid transparent;
}

.emailCTA-btn-container {
  margin-left: var(--spacing-2);
}

.emailcta-btn {
  width: 100%;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.15;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 80ms ease-in-out;
}

.emailcta-btn:hover {
  background-color: rgb(var(--blue-70));
  border-color: rgb(var(--blue-70));
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  font-weight: 600;
}

.btn-content-padding {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}

.right-section {
  flex: 2 1 0%;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--spacing-5);
  padding-left: var(--spacing-3);
}

.right-section img {
  max-width: 526px;
  max-height: 534px;
  object-fit: cover;
}

/* End of hero section styles */

/* Asset table styles */
.asset-table-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 1px solid var(--line);
  border-radius: 4px;
}

.asset-table {
  width: 100%;
  background: #fff;
  border-spacing: 0px;
  border-collapse: separate;
  caption-side: top;
  color: rgb(var(--gray-60));
}

.asset-thead {
  border: medium none;
}

.asset-th:first-child {
  padding-left: 32px;
}

.asset-th {
  padding: 16px 48px 16px 0;
  text-align: left;
}

.asset-th label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  line-height: 1.6;
}

.asset-tbody {
  border: medium none;
}

.asset-tbody tr {
  user-select: none;
  background: var(--gray-0);
}

.asset-td-num:first-child {
  padding-left: 32px;
}

.asset-td-num {
  width: 85px;
  position: relative;
  padding: 14px 48px 14px 0;
  border-top: 1px solid var(--line);
}

.asset-td-num span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.asset-td-name-wrapper {
  min-width: 140px;
  padding: 14px 48px 14px 0;
  cursor: pointer;
  border-top: 1px solid var(--line);
}

.asset-td-name-wrapper a {
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
}

.img-wrapper {
  width: 36px;
}

.td-name {
  color: rgb(var(--gray-100));
  font-weight: 500;
}

.price-column {
  min-width: 132px;
  padding: 14px 48px 14px 0;
  border-top: 1px solid var(--line);
  color: rgb(var(--gray-100));
  font-weight: 500;
}

.change-column {
  min-width: 100px;
  padding: 14px 48px 14px 0;
  border-top: 1px solid var(--line);
  color: var(--negative);
  font-weight: 500;
}

.chart-column {
  min-width: 100px;
  padding: 5px 25px 5px 5px;
  border-top: 1px solid var(--line);
}

.trade-column {
  min-width: 70px;
  padding: 14px 48px 14px 32px;
  border-top: 1px solid var(--line);
}

.trade-btn {
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: 4px;
  color: rgb(var(--gray-0));
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--positive);
  border: 1px solid var(--positive);
}

.trade-btn:hover {
  background-color: rgb(var(--green50));
  border-color: rgb(var(--green50));
}

/* End of Table assets styles */

/* Start of banner section style */
.banner-container {
  flex-grow: 1 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgb(var(--gray-0));
}

.banner-space-left {
  width: 100%;
  flex: 1 1 50%;
  display: flex;
}

.banner-space-right {
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}

.banner-content-l {
  max-width: 350px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(var(--gray-100));
}

.banner-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: var(--spacing-2);
}

.banner-subtitle {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: var(--spacing-2);
}

.common-card-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  display: block;
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
  margin: var(--spacing-2) 0 0 var(--spacing-3);
  cursor: pointer;
  transition: color 0.25s ease;
}

.link:hover {
  color: rgb(var(--blue-70));
}

.common-card {
  margin-top: -1px;
  display: flex;
  width: 100%;
  padding: var(--spacing-3);
  white-space: nowrap;
  border: none;
  transition: box-shadow 500ms, opacity 500ms,
    z-index 0ms ease-out 500ms;
  cursor: pointer;
  opacity: 0.9;
}

.common-card:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
  opacity: 1;
  z-index: 1;
  position: relative;
}

.coin-name {
  line-height: 1.3;
  color: rgb(var(--gray100));
  font-size: 22px;
  font-weight: 700;
}

.coin-symbol {
  line-height: 1.3;
  color: rgb(var(--gray100));
  font-size: 18px;
  font-weight: 600;
}

.campaign-text {
  margin-left: 24px;
  color: var(--positive);
  font-weight: 600;
}

/* End of banner section */

/* Beginning of overview section styles */

.overview {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-8);
}

.overview-title {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: var(--spacing-1);
  font-size: 40px;
  font-weight: 600;
  color: var(--foreground);
  text-align: center;
}

.overview-subtitle {
  color: var(--foreground-muted);
  text-align: center;
}

.app-features {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: var(--spacing-4);
}

.overview-l {
  margin-top: var(--spacing-5);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.overview-feature {
  margin-bottom: var(--spacing-5);
  display: flex;
}

.feature-icon {
  margin-top: -8px;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  margin-right: var(--spacing-4);
  background-color: var(--background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px rgba(218, 225, 233, 0.557943);
}

.feature-title {
  margin-top: 0px;
  margin-bottom: var(--spacing-2);
  font-size: 20px;
  font-weight: 600;
}

.feature-text {
  margin: 0px;
  line-height: 1.6;
  color: var(--foreground-muted);
}

.overview-r {
  max-width: 700px;
}

.feat-wrapper {
  margin: var(--spacing-8) 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feat-title {
  margin-top: 0px;
  margin-bottom: var(--spacing-3);
  line-height: 48px;
  font-size: 40px;
  color: var(--foreground);
  font-weight: 600;
  text-align: center;
}

.feat-subtitle {
  font-size: 18px;
  color: var(--foreground-muted);
  margin: 0;
}

.feats-wrapper {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.feat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--spacing-3);
  text-align: center;
  margin-bottom: var(--spacing-5);
}

.feat-img-wrapper {
  width: 64px;
  height: 64px;
}

.feat-card-title {
  margin-top: var(--spacing-4);
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--foreground);
  text-align: center;
}

.feat-card-subtitle {
  color: var(--foreground-muted);
  margin: var(--spacing-2) 0 var(--spacing-3);
  line-height: 24px;
  font-size: 16px;
}

.feat-link {
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: color ease 0.25s;
  line-height: 28px;
}

.feat-link:hover {
  color: rgb(var(--blue-70));
}

/*  End of overview section style */

/* Beginning of Stats section styles */

.stats-wrapper {
  justify-content: center;
  color: var(--primary-foreground);
  margin: var(--spacing-5) 0px;
  display: flex;
  flex: 1 1 auto;
}

.stat {
  flex: 1;
  text-align: center;
  font-weight: 500;
}

.stats-number {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: var(--spacing-2);
  line-height: 48px;
  font-size: 56px;
  font-weight: 600;
}

.stats-desc {
  line-height: 24px;
  font-size: 16px;
  opacity: 0.7;
}

/* End of stats section styles */

/* Media query */

@media all and (min-width: 1171px) {
  .app-features {
    margin-top: var(--spacing-8);
    flex-direction: row;
    justify-content: space-between;
  }

  .overview-l {
    margin-right: var(--spacing-2);
    margin-top: 0;
  }
}

@media (min-width: 946px) {
  .feat-card-subtitle {
    height: 110px;
  }
}

@media not all and (max-width: 768px) {
  .feat-card {
    width: calc((100% / 3) - var(--spacing-1));
  }
}
